---
import type { GetStaticPaths } from "astro";
const { id } = Astro.params;
import Layout from "../layouts/Layout.astro";
import { projects } from "../assets/data";

export function getStaticPaths() {
  return [
    { params: { id: "prueba" } },
    { params: { id: "prueba" } },
    { params: { id: "prueba" } },
    { params: { id: "prueba" } },
  ];
}

const card = projects.find((card) => card.image == id);
---

<Layout title={`Project | ${id}`}>
  <div class="relative flex items-center lg:h-screen xs:h-fit">
    <div
      class="absolute min-h-screen inset-0 -z-[-1] bg-gradient-to-b from-context"
      style=`--context-color: ${card.color}`
    >
      <img
        src={`${id}.jpg`}
        alt="#"
        class="transition-all duration-500 absolute -z-[-1] inset-0 mix-blend-overlay opacity-20 scale-90 w-full
            h-full object-cover blur-md"
      />
      <div class="absolute inset-0 bg-gradient-to-t via-transparent from-zinc-900s"></div>
    </div>
  </div>
</Layout>
