---
import { socials } from "../assets/data";
---

<nav
  class="w-full h-16 bg-black text-white flex items-center px-4 py-3 top-0 z-50 justify-between"
>
  <ul class="grid justify-items-center basis-[20%]">
    {
      socials.map((social) => (
        <li>
          <a
            href="#"
            class="text-2xl opacity-50 hover:opacity-100 duration-300 ease-in cursor-pointer"
          >
            <i class={social.logo} />
          </a>
        </li>
      ))
    }
  </ul>
</nav>
