---
import { technologies } from "../assets/data";
import TechnologyCard from "./TechnologyCard.astro"
---

<div class="w-[75%] mx-auto mt-20 mb-10">
  <h2
    class="cursor-pointer font-bold w-fit md:mx-0 md:ml-5 sn:text-6xl
    xs:text-[40px] xs:mx-auto"
  >
    Technologies
  </h2>
</div>
<div class="overflow-x-hidden whitespace-nowrap cursor-pointer">
  <div class="tech-card inline-block">
    {
        technologies.map((tech) => (
            <div class="inline-block m-0">
                <TechnologyCard text={tech.text} logo={tech.logo} />
            </div>
        ))
    }
  </div>
</div>
<style>
    .tech-card {
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.03));
        padding-block: 2rem;
        border-top-width: 1px;
        border-bottom-width: 1px;
        border-color: #ffffff26;
    }
</style>
